.main{
  @apply w-full flex flex-col items-center justify-center bg-slate-200 pb-40 
}

.header{
  @apply text-3xl pb-20
}

.text{
  @apply w-[90%] sm:w-[31rem] text-[0.77rem] font-bold 
}

.list{
  @apply w-[86%] mt-7
}

.listItem{
  @apply bg-white mb-5 border-t-4 border-blue-400 text-[0.78rem] px-3 pt-3 pb-7 
}