.main{
    @apply pt-4 
}

.mainListItem{
    @apply flex flex-col
}

.mainListItemSection{
    @apply flex justify-between pr-2 cursor-pointer pt-2 leading-4
}

.mainListIconImage{
    @apply text-[0.6rem] pt-[0.3rem] pr-2
}

.mainListOpen{
    @apply rotate-90 duration-700
}

.sideArrowIconImage{
    @apply text-[0.7rem] pb-1 pt-1 duration-700 
}

.mainListItemText{
    @apply text-[0.75rem] pt-[0.1rem]
}

.subListItemText{
    @apply text-[0.68rem] pt-[0.1rem]
}

.subListItemSection{
    @apply flex cursor-pointer 
}

.sublist{
    @apply pb-3 
}

